
body {
	background: url("../images/seigaiha.png") no-repeat left fixed;
	 background-size:980px;
	 max-width:980px;
	 margin:10px auto;
	 float: left;
	}

h1 {
	color: white;
	background-color:#4aaaa5;
	border:1px solid #cccccc;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	float:left;
	position: static;
	left:20px;
	text-align:center;
	}

h2 {
	color:#4aaaa5;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	}

#header{
 	position: static;
	height:60px;
	width:980px;
	background: #ffffff;
	color:#777777;
	top:0;
	left:0;
	z-index: 999
	}


.links {
	float:left;
	font-size: 20px;
	left:700px;
	top:40px;
	width: 270px;
	background: white;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	position: relative;
	}

.link {
	color: #777777;
	background:#ffffff;

	}


#bio-image {
  margin-right: 20px;
  width: 200px;
  height: 200px;
  float:left;
}


.socailimages {
  margin-right: 20px;
  margin-top: 20px;
  width: 50px;
  height: 50px;
  border width: 270px;

}

.portfolioimages {
	margin-right: 20px;
  	margin-top: 20px;
  	width: 200px;
  	height: 200px;
  	position: relative;
 	z-index: 100;
  	float:left;
 	}


#connectwithme {
	left:20px;
	top:100px;
	float:left;
	width: 270px;
	background:#ffffff;
	border:5px solid #dddddd;
	position: relative;
	z-index: 15;
	}

#connectwithme2 {
	left:20px;
	top:100px;
	float:left;
	width: 270px;
	background:#ffffff;
	border:5px solid #dddddd;
	position: relative;
	z-index: 15;
	}



#aboutmetext {
	text-align: center;
	}

.maincontainer {
	color:#777777;
	background:#ffffff;
	border: 5px solid #dddddd;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	width:650px;
	position: relative;
	top:100px;
	float:left;
	left:15px;
	z-index: 20;
	}

.maincontainer2 {
	color:#777777;
	background:#ffffff;
	border: 5px solid #dddddd;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	width:650px;
	position: relative;
	top:100px;
	float:left;
	left:15px;
	z-index: 20;
	}

.label1{ 
	position: absolute;
	height:30px;
	width:200px;
	background: #4aaaa5;
	text-align: center;
	color:white;
	top:200px;
	z-index: 200;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	}

.label2{ 
	position: absolute;
	height:30px;
	width:200px;
	background: #4aaaa5;
	color:white;
	z-index: 200;
	top:220px;
	left:220px;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	}

.label3{
	position: absolute;
	height:30px;
	width:200px;
	background: #4aaaa5;
	text-align: center;
	color:white;
	z-index: 200;
	top:460px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	}

.label4{
	position: absolute;
	height:30px;
	width:200px;
	text-align: center;
	background: #4aaaa5;
	color:white;
	z-index: 200;
	top:460px;
	left:220px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	}
.label5{
	position: absolute;
	height:30px;
	width:200px;
	text-align: center;
	background: #4aaaa5;
	color:white;
	z-index: 200;
	top:660px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	}
.title {
	text-align: center;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	color:#4aaaa5;
	font-size: 14px;
	}

#button {
	padding:10px 20px;
	font-size:14px;
	background-color:#4aaaa5;
	font-weight: bold;
	color:white;
	}

.footer {
	bottom: clear ;
	color:#fff;
	background:#666666;
	text-align:center;
	position:fixed;
	bottom:0px;
	left:0px;
	height:30px;
	width:980px;
	z-index: 9999;
	margin-top:200px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	border-top:10px solid #4aaaa5;
	}
	.col{margin:10px;}

	@media screen and (max-width: 640px){

		.links {left:0px;
			top:-20px;}
		#connectwithme {width:100%;}
		.maincontainer{width: 500px;}
		.links {width:640px;
				text-align:center;}
		h1{text-align: center;
			width:640px;}
		.maincontainer2 {width:100%;}
		.portfolioimages{width:400px;}
		.label1{top:250px;
			width:400px;}
		.label2{top:460px;
				left:0;
				width:400px;}
		.label3{top:680px;
			width:400px;}
		.label4{top:900px;
				left:0;
				width:400px;}
		.label5{top:1100px;
			width:400px;}
		#bio-image{width:350px;
			height:300px;
			margin-right:75px;
			margin-left:75px;
			margin-bottom:10px;}
		.footer:{width:100%;}

	.cols{width:80%;}
	}

	@media screen and (min-width: 641px) and (max-width: 768px){

		.links{left:400px;}
		#connectwithme{width:100%;}
		.footer{width:100%;}

	}


	@media screen and (min-width: 769px) and (max-width:980px){
	#bio-image{width:450px;
			height:300px;
			margin-right:100px;
			margin-left:100px;
			margin-bottom:10px;
				}
	.portfolioimages{
			width:400px;
			height:400px;
	}
	
	.maincontainer2{width:500px;} 

	.label1{ 
	height:30px;
	width:400px;
	top:400px;

	}

	.label2{ 
	height:30px;
	width:400px;
	top:810px;
	left:0;

	}
	.label3{ 
	height:30px;
	width:400px;
	top:1220px;
	left:0;

	}

	.label4{ 
	height:30px;
	width:400px;
	top:1630px;
	left:0;

	}
	.label5{ 
	height:30px;
	width:400px;
	top:2040px;

	}
	#connectwithme {float:right;}

	}
